.nav {
    grid-area: n;
    background-color: #DAE0F2;
    padding: 10px;
}

.item a {
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.item a.active {
    color: goldenrod;
}

.friendsElements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.sidebar {
    display: grid;
    /* padding: 10px; */
    /*justify-self: center;*/
    font-size: 8pt;
}



.sidebar img {
    width: 50px;
    height: 50px;
    /*border-radius: 10px;*/
}