.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 10px;
}

.item a {
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.item a.active {
    color: goldenrod;
}