.nav {
    grid-area: n;
    background-color: #DAE0F2;
    padding: 10px;
}

.item a {
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.item a.active {
    color: goldenrod;
}

.sidebar {
    /* padding: 10px; */
}



.sidebar img {
    width: 30px;
    height: 30px;
    /*border-radius: 10px;*/
}