.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialog a{
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;
}

.dialog img {
    width: 30px;
    height: 30px;
    /*border-radius: 10px;*/
}


/* .dialogsItems .active {
   background-color: orange;
   font-weight: bold;
} */


.messages {
    display: grid;
    grid-template-columns: 300px;

    padding: 10px;
}
.messages .message {

}
.messages .two, .four {
    text-align: right;
    /* background-color: orange; */
}



